/* font-family: 'Poppins', sans-serif;
font-family: 'Open Sans', sans-serif; */

body{
  margin: 0;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}

h1 {
  font-family: 'Poppins', sans-serif;
  font-weight:

}

header img{
  width: 10%;
  margin-bottom: 5rem;
  padding-top: 2rem;
  padding-left: 2rem;

}
